body {
    background-color: lightgrey;
}
.active  {
    text-decoration: underline

 }

nav a {
    text-decoration: unset;
    color: black;
    
 }



.current {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    
}

nav div {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 30px; 
    border: 1px solid;
    

}

h3 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 25px;

}

h4 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 20px;

}

.box-1 {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-2 {
    flex: 1;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-2 {
    display: flex;
    flex-direction: row;
    
}



.box-3 {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: 1px solid;
    padding: 25px;
}

.box-4 {
    flex: 4;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
}

.show-name-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.show-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.delete-button {
    background-color: crimson;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

h3 ~ span {
    display: flex;
    

 }

 h3 ~ span:nth-child(1) {
     flex: 1
 }